<% provide(:title, t(:profile))%>
<div class="container container-blur">
  <div class="row">
    <div class="col-lg-12">
      <div id="page-title">
        <%= render 'shared/flashpop'%>
        <h1><%= t(:profile) %></h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 new-form"> 
            <p><%= t(:txtOpc1) %></p>
            <%= gravatar_for @user %>
            <%= @user.name %>
          </div>
        </div>  
      </div>  
    </div>
  </div>
</div>



